body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

.bg-info {
  padding: 5px;
  margin: 15px 0 5px 0;
}
#definition {
  max-width: 600px;
  border: 2px solid rgba(97, 173, 255, 0.51);
  padding: 5px;
}
#generatedNumberArea {
  min-height: 650px;
}
#ownNumbersArea {
  min-height: 320px;
}
.text-green {
  color: green;
}
.text-blue {
  color: blue;
}
.text-red {
  color: red;
}
.text-center {
  text-align: center;
}
h1 {
  color: #005d81;
}
h2 {
  color: #424242;
  font-size: 1.9em;
}
h3 {
  color: #1b5e20;
  font-size: 2em;
}
#inpNumbersGenerated {
  margin-right: 5px;
}
