<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#"> </a>
    </li>
    <li>
      <a
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/generators']"
        >Testovat generátory</a
      >
    </li>
    <li>
      <a
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        [routerLink]="['/own-numbers']"
        >Zadat vlastní čísla</a
      >
    </li>
  </ul>
</div>
